<h1 class="card-title">Add Animal</h1>
<h4 class="card-subtitle mb-2 text-muted">Taberer Applications</h4>
<div class="container" style="background-color: #292b2c; color: white; padding: 25px ">
    <div class="row">
        <div class="col-sm-8">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Description</h3>
                    <hr />
                    <p class="card-text">
                        This is a media management application. Using this app you will be able to upload one of three files,
                        a document, a image and a video. Once uploaded, the files will be displayed in their respective tabs. Once in the tabs there will be the option to
                        delete these files or download them to your pc. There is also an about page that has some information about Cameron taberer
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Option Selection</h3>
                    <hr />

                    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="animalType">Choose Animal Type</label>
                            <select class="form-control" id="animalType" name="type">
                                <option value="1">Marine Animal</option>
                                <option value="2">Big Cats</option>
                                <option value="3">Primates</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="stroke">Stroke Width</label>
                            <input type="number" min="0" max="3" class="form-control" name="stroke" id="stroke">
                        </div>

                        <div class="form-group">
                            <label for="xCoord">X Coordinate</label>
                            <input type="number" min="0" max="449" class="form-control" name="xCoord" id="xCoord">
                        </div>
                        <div class="form-group">
                            <label for="yCoord">Y Coordinate</label>
                            <input type="number" min="0" max="399" class="form-control" name="yCoord" id="yCoord">
                        </div>
                        <input type="submit" value="Submit" />
                    }

                </div>
            </div>

        </div>
    </div>
</div>
