@{
    ViewBag.Title = "Home";
}

<h1 class="card-title">WWF Endangered Animals Tracker</h1>
<h4 class="card-subtitle mb-2 text-muted">Taberer Applications</h4>
<div class="container" style="background-color: #292b2c; color: white; padding: 25px ">
    <div class="row">
        <div class="col-sm-8">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sustainable Development Goal 15 Life on Land</h3>
                    <hr />
                    <p class="card-text">
                        The aim of this goal is to protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss.
                    </p>
                    <hr />
                    <p class="card-text">
                        I have specifically choosen the target and indicator sub-goal 15.5, which addresses taking
                        urgent and significant action to reduce the degradation of natural habitats, halt the loss of biodiversity and protect and prevent the extinction of threatened species by 2020.
                        In choosing to support this specific sub-goal i have choosen an NPO known as "World Wide Fund for Nature" as a partner.
                    </p>
                    <hr />
                    <p class="card-text">
                        This program will assist the WWF in achieving their goals in wildlife conservation specifically,
                        the program will do this by providing them with and platform to track and record different species of animals, their habitats, current populations and endangered species status.
                    </p>
                    <hr />
                    <h4 class="card-title">Use Case Narratives</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col"><a href="~/Resources/1.png"><img src="~/Resources/1.png" class="img-responsive"></a></div>
                            <div class="col"><a href="~/Resources/2.png"><img src="~/Resources/2.png" class="img-responsive"></a></div>
                            <div class="col"><a href="~/Resources/3.png"><img src="~/Resources/3.png" class="img-responsive"></a></div>
                            <div class="col"><a href="~/Resources/4.png"><img src="~/Resources/4.png" class="img-responsive"></a></div>
                            <div class="col"><a href="~/Resources/5.png"><img src="~/Resources/5.png" class="img-responsive"></a></div>
                        </div>
                    </div>
                    <h4 class="card-title">Class Structure Diagram</h4>
                    <div class="col"><a href="~/Resources/6.png"><img src="~/Resources/6.png" class="img-responsive"></a></div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">WORLD WIDE FUND FOR NATURE</h3>
                    <hr />
                    <div class="col"><a href="~/Resources/7.png"><img src="~/Resources/7.png" class="img-responsive"></a></div>
                    <h3 class="card-title">HELP MAKE A CHANGE</h3>
                    <hr />
                    <a href="https://support.worldwildlife.org/site/SPageServer?pagename=main_monthly&s_src=AWE2209OQ18299A01179RX&s_subsrc=topnav">Make a donation to the WWF here</a>
                    <h3 class="card-title">CHECK OUT OUR WORK ON WILDLIFE CONSERVATION</h3>
                    <hr />
                    <a href="https://www.worldwildlife.org/initiatives/wildlife-conservation">Wildlife Conservation</a>
                </div>
            </div>

        </div>
    </div>
</div>
